Guess the move name!!
<table style="width: 500px; ">
    <tr>
        <td>
            <img width="300px" src="https://c.tenor.com/BvggG2r3gZIAAAAd/%D0%B5%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D1%88%D0%BE%D0%BA-%D0%B2%D0%BE%D1%81%D0%BA%D1%80%D0%B5%D1%81%D0%B8%D1%82%D1%8C%D0%BC%D0%B0%D1%88%D0%B8%D0%BD%D1%83.gif">
        </td>
        <td>
            <img  width="300px" src="https://c.tenor.com/0L7z2ngIhGUAAAAC/mickey-mouse-dreaming.gif"> 
        </td>
    </tr>
</table>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Move Name</mat-label>
      <input type="text"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  
